@import url('assets/css/bootstrap.min.css');

/* New styles below */
label.valid {
  width: 24px;
  height: 24px;
  /*background: url(assets/img/valid.png) center center no-repeat;*/
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	font-weight: normal;
	color: red;
	padding: 0 3px;
	margin-top: -5px;
}